<div class="credits" id="credits">
    <div class="inner clearfix">
        <ul class="info">
            <% if(theme.contact.weibo){ %>
            <li class="weibo"><a href="<%=theme.contact.weibo%>" target="_blank">微博</a></li>
            <% } %>
            <% if(theme.contact.QQ){ %>
            <li class="QQ">QQ<span>：673541497</span></li>
            <% } %>
            <% if(theme.contact.github){ %>
            <li class="github"><a href="<%=theme.contact.github%>" target="_blank">Github</a></li>
            <% } %>
            <% if(theme.contact.mail){ %>
            <li class="mail"><%=theme.contact.mail%></li>
            <% } %>
        </ul>
        <div class="left">
            <p class="case_number">
                Copyright © 2017 <%=config.author%> <a href="http://www.beian.miit.gov.cn" target="_blank"><%=theme.case_number%></a>
            </p>
            <p class="copyright">Theme&nbsp;
                <a href="https://github.com/sunzongzheng/hexo-yue" target="_blank">hexo-yue&nbsp;</a>
                By&nbsp;
                <a href="https://github.com/sunzongzheng/" target="_blank">Suen</a>
            </p>
            <div class="cdn clearfix">
                <a href="https://www.upyun.com/"><img src="/images/upyun_logo5.png"></a>
                <a>提供cdn加速服务</a>
            </div>
        </div>
    </div>
</div>